* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


p {
    margin: 0 auto;
    padding: 0 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;


}

.root {
    width: 100vh;
    height: 900px;
    white-space: nowrap;
    margin: 20px;
}

.ver {
    width: 300px;
    height: 100%;
    background: red;
    margin: 15px;
    display: inline-block;
    overflow-x: auto;
}

.hor {
    background: cadetblue;
    margin: 10px;
    border: solid;
    overflow: auto;


}

.h-50 {
    height: 50px;
}

.h-150 {
    height: 150px;
}